@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";

/* https://tailwindcss.com/docs/adding-custom-styles */
@theme {
    --spacing: 1rem;

    --color-sector-divider: var(--color-stone-700);
    --color-content: var(--color-stone-100);

    --font-inter: "Inter", sans-serif;
}

body {
    @apply font-inter;
    background-image: url('./images/cross-background.svg');
    background-repeat: repeat;
    background-color: var(--color-stone-950);
    @apply text-content;
}

#root {
    box-sizing: content-box;
    min-width: 600px;
    max-width: 1300px;
    margin: 0 auto;
    @apply px-4
}

h1 {
    @apply font-mono text-stone-200 text-4xl font-bold tracking-widest;
}
h2 {
    @apply font-mono text-stone-200 text-2xl font-semibold;
}

/* Containers */
.box {
    /*border: 1px solid orangered;*/
    @apply p-1;
}

/* Styles */
th, td {
    padding: 8px 12px;
}
